<!-- INTRO -->
<section id="" class="mt-3">
    <div class="container mb-12">
        <div class="row justify-content-center">
            <div class="col text-justify text-sm-center p-2">
                <h1 class="mb-4 text-center">¡Consigue tu propio <strong>Aplicativo Movil</strong> ahora <br class="d-none d-md-inline" />y empieza a vender por Internet ya!</h1>

                <p class="lead mb-4"><strong>NuestraTienda</strong> te crear tu propio <strong>Aplicativo movil</strong> y hacer comercio electrónico como los grandes. Incluye todo lo que necesitas para empezar tu negocio en línea: catálogo de productos, carrito de compras,
                    se integra con pasarelas de pago para poder aceptar pagos con tarjetas de crédito </p>

                <!--<a href="#planes" class="btn btn-lg btn-dashboard btn-block-xs-only mb-5 mx-auto">Conoce nuestros planes</a>-->
                <a href="https://mitienda.pe/registro" class="btn btn-success btn-dashboard btn-lg btn-block-xs-only mx-auto">¡Contrátalo ahora!</a>
            </div>
        </div>
    </div>
</section>

<!-- PERSONALIZA TU APP -->
<section>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 col-md-3 order-2 order-md-1 text-justify mb-4">
                <h4 class="mb-3 text-center text-uppercase">
                    Vende en Facebook
                </h4>
                <p>Facebook es la red social más utilizada en Perú, por lo que resulta ideal para mostrar tus productos a potenciales clientes. <a href="https://mitienda.pe/virtual/tienda-en-facebook">Ver más</a></p>
            </div>
            <div class="col-12 col-md-3 order-1 order-md-2 mb-4">
                <a href="https://mitienda.pe/virtual/tienda-en-facebook" class="d-block border">
                    <img src="https://mitienda.pe/_/img/facebook-1.jpg" alt="Tienda en Facebook" class="img-fluid mx-auto" />
                </a>
            </div>
            <div class="col-12 col-md-3 order-3 order-md-4 mb-4 text-center">
                <a href="https://mitienda.pe/virtual/vende-en-instagram" class="d-block border">
                    <img src="https://mitienda.pe/_/img/instagram-1.jpg" alt="Vende en Instagram" class="img-fluid mx-auto w-100 w-md-75" />
                </a>
            </div>
            <div class="col-12 col-md-3 order-4 order-md-3 text-justify mb-4">
                <h4 class="mb-3 text-center text-uppercase">
                    Etiqueta productos en Instagram
                </h4>
                <p>
                    Permite que tus seguidores en Instagram los descubran y compren directamente desde tus publicaciones e historias. <a href="https://mitienda.pe/virtual/vende-en-instagram">Ver más</a>
                </p>
            </div>
        </div>
    </div>
</section>